body {
    background-color: lightblue;
}

.input {
    font-size: 1.0em;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.err_invisible {
    visibility: hidden;
    display: none;
}

.err_visible {
    visibility: visible;
    display: block;
}

.error_message {
    background-color: coral;
    border-style: groove;
}
