{% include "header.html" %}
{% include "error_msg.html" %}
<script src="/assets/js/admin_dash.js"></script>
<div class="entry">
  <h2>Mail Kraken - Dashboard</h2>
  <div class="dash_cntr">

    <h3>Change Admin Password</h3>
    <table>
      <form method="post">
        <tr>
          <td>Admin Password:</td>
          <td><input id="passwd-new"type="password" name="passwd" /></td>
        <tr/>
        <tr>
          <td>Repeat Admin Password:</td>
          <td><input id="passwd-repeat" type="password" name="repeat_passwd" /></td>
        <tr/>
        <tr>
          <td colspan="2"><button id="passwd-submit" type="submit">Submit</button></td>
        <tr/>
      </form>
    </table>
  </div>
  <div class="dash_cntr">
    <h3>Database URL</h3>
    <table>
      <form  method="post">
        <tr>
          <td>Database Url:</td>
          <td><input id="db-url" type="url" name="db_ulr" value="{{db_url}}"/></td>
        <tr/>
        <tr>
          <td colspan="2"><button id="db-url-submit" type="submit">Login</button></td>
        <tr/>
      </form>
    </table>
  </div>
</div>
{% include "footer.html" %}
