{% include "header.html" %}
<h1>Mail-Kraken Web Interface</h1>
<div class="entry">
    <h1>Mail Kraken - Admin Login</h1>
    <div class="login">
        <table>
            <form action="/api/v1/login" method="post">
                <tr>
                    <td>Login Name:</td>
                    <td><input type="text" name="login-name" value="admin"/></td>
                <tr/>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="passwd" /></td>
                <tr/>
                <tr>
                    <td colspan="2"><button type="submit">Login</button></td>
                <tr/>
            </form>
        </table>
    </div>
</div>
{% include "footer.html" %}
