{% include "header.html" %}
<script src="/assets/js/login.js"></script>
<div class="entry">
    <h2>Mail Kraken - User Login</h2>
    <div class="login">
        <table>
            <form>
                <tr>
                    <td>Login Name:</td>
                    <td><input id="login-name" type="{{name_type}}" name="login-name" value="{{default_name}}" /></td>
                <tr/>
                <tr>
                    <td>Password:</td>
                    <td><input id="passwd" type="password" name="passwd" /></td>
                <tr/>
                <tr>
			<td colspan="2"><button id="btn_login" type="submit" onclick="async () => { await login(); }">Login</button></td>
                <tr/>
            </form>
        </table>
    </div>
</div>
{% include "footer.html" %}
