{% include "header.html" %}
<script>
    document.getElementById("submit").onclick = async (e) => {
        e.preventDefault();
        await login()
    };

    async function login() {
        console.log("login() entered" );
        const data = {
            login: $('#login-name').val(),
            passwd: $('#passwd').val()
        };

        console.log(`posting login request with data: ${data}` );

        const request = {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }

        fetch('/api/v1/login', request).then(function (response) {
            console.log("request successful")
            if (login === 'admin') {
                window.location.href = '/admin_dash';
            } else {
                window.location.href = '/dash';
            }
        }).catch(function (error) {
            console.log(error);
        })

        console.log("fetch done");
    }
</script>
<div class="entry">
    <h2>Mail Kraken - User Login</h2>
    <div class="login">
        <table>
            <form>
                <tr>
                    <td>Login Name:</td>
                    <td><input id="login-name" type="{{name_type}}" name="login-name" value="{{default_name}}" /></td>
                <tr/>
                <tr>
                    <td>Password:</td>
                    <td><input id="passwd" type="password" name="passwd" /></td>
                <tr/>
                <tr>
			<td colspan="2"><button id="btn_login" type="submit" onclick="async () => { await login(); }">Login</button></td>
                <tr/>
            </form>
        </table>
    </div>
</div>
{% include "footer.html" %}
